h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

#filter {
    margin-top: -40px;
}

img {
    width: 100px;
    height: 100px;
}

img.centered {
/*    display: block;*/
    width: 100% !important;
    height: auto !important;
}

.semlabel {
    font-family: Georgia, serif;
    font-size: 30px;
}

/*ul.images {
    list-style: none;
    font-size: 0px;
}

ul.images li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    width: 22.5%;
}

ul.images li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}
*/
/*table { 
    table-layout: fixed;    
    width:80%; 
}

td {
    width:25%; 
}

td img {
    width: 100% !important;
    height: auto !important;
}*/