h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

#filter {
    margin-top: -40px;
}

img.centered {
/*    display: block;*/
    width: 100% !important;
    height: auto !important;
}


table { 
    table-layout: fixed;    
    width:80%; 
}

td {
    width:25%; 
}

td img {
    width:25px;
    height:auto;
}