<!DOCTYPE HTML>

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>

    <ul class='images'>

        <li><img src = " {{ image1 }} ", class='centered'></li>
        <li><img src = " {{ image2 }} ", class='centered'></li>
        <li><img src = " {{ image3 }} ", class='centered'></li>
        <li><img src = " {{ image4 }} ", class='centered'></li>
        <li><img src = " {{ image5 }} ", class='centered'></li>
        <li><img src = " {{ image6 }} ", class='centered'></li>
        <li><img src = " {{ image7 }} ", class='centered'></li>
        <li><img src = " {{ image8 }} ", class='centered'></li>

    </ul>

<!--     <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table> -->



    <form action="/refilter" method="post" id='filter_again'>
        <input type='submit' value='Filter Again?'>
    </form>

</html>
