<TABLE>

<TR>
<TD> <div>
    <a href="https://plot.ly/~aditijoshi/82/" target="_blank" title="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="display: block; text-align: center;"><img src="https://plot.ly/~aditijoshi/82.png" alt="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="aditijoshi:82" src="https://plot.ly/embed.js" async></script>
</div> </TD>
<TD> <div>
    <a href="https://plot.ly/~aditijoshi/82/" target="_blank" title="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="display: block; text-align: center;"><img src="https://plot.ly/~aditijoshi/82.png" alt="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="aditijoshi:82" src="https://plot.ly/embed.js" async></script>
</div> </TD>
<TD> <div>
    <a href="https://plot.ly/~aditijoshi/82/" target="_blank" title="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="display: block; text-align: center;"><img src="https://plot.ly/~aditijoshi/82.png" alt="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="aditijoshi:82" src="https://plot.ly/embed.js" async></script>
</div> </TD>
<TD> <div>
    <a href="https://plot.ly/~aditijoshi/82/" target="_blank" title="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="display: block; text-align: center;"><img src="https://plot.ly/~aditijoshi/82.png" alt="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="aditijoshi:82" src="https://plot.ly/embed.js" async></script>
</div> </TD>
</TR> 

<TR>
<TD> <div>
    <a href="https://plot.ly/~aditijoshi/82/" target="_blank" title="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="display: block; text-align: center;"><img src="https://plot.ly/~aditijoshi/82.png" alt="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="aditijoshi:82" src="https://plot.ly/embed.js" async></script>
</div> </TD> 
<TD> <div>
    <a href="https://plot.ly/~aditijoshi/82/" target="_blank" title="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="display: block; text-align: center;"><img src="https://plot.ly/~aditijoshi/82.png" alt="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="aditijoshi:82" src="https://plot.ly/embed.js" async></script>
</div> </TD>
<TD> <div>
    <a href="https://plot.ly/~aditijoshi/82/" target="_blank" title="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="display: block; text-align: center;"><img src="https://plot.ly/~aditijoshi/82.png" alt="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="aditijoshi:82" src="https://plot.ly/embed.js" async></script>
</div> </TD>
<TD> <div>
    <a href="https://plot.ly/~aditijoshi/82/" target="_blank" title="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="display: block; text-align: center;"><img src="https://plot.ly/~aditijoshi/82.png" alt="Sem 1, Sem 1.5, Sem 2.0, Sem 2.5, Sem 3.0, Sem 3.5, Sem 4.0, Sem 4.5" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="aditijoshi:82" src="https://plot.ly/embed.js" async></script>
</div> </TD>
</TR>


</TABLE>