<!DOCTYPE HTML>

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/cover.css') }}">
    </head>

    <table>
        <tr>
            <td><img src = " {{ image1 }} "></td>
            <td><img src = " {{ image2 }} "></td>
            <td><img src = " {{ image3 }} "></td>
            <td><img src = " {{ image4 }} "></td>
        </tr>

        <tr>
            <td><img src = " {{ image5 }} "></td>
            <td><img src = " {{ image6 }} "></td>
            <td><img src = " {{ image7 }} "></td>
            <td><img src = " {{ image8 }} "></td>
        </tr>

    </table>

<!-- 

    {% for image in image_name %}
        <img src = " {{ image }} ", class='table'> 
    {% endfor %}
 -->

    <form action="/refilter" method="post" id='filter_again'>
        <input type='submit' value='Filter Again?'>
    </form>

</html>
